<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/login.css">
    <!-- <link rel="stylesheet" href="css/index.css"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="/js/auth.js"></script> -->
</head>
<body>
    
    <div class="login-container">
        <h1>Login</h1>
        <form action="/login" method="post">
            <div class="error-message">
                <!-- Display error message if there is any -->
                <span th:if="${param.error}" th:text="'Invalid username or password'"></span>
            </div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <!-- <div class="register-link">
            <a href="/register">Don't have an account? Register here</a>
        </div> -->
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
